.mainDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.8rem;
    position: sticky;
    top: 0;
    z-index: 100;
    background: white;
  }
  
  .left {
    display: flex;
    gap: 1.2rem;
  }
  
  .logo {
    font-size: 1.6rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    gap: 0.2rem;
  }
  
  .center {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 0 1rem;
  }
  
  .searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }
  
  .searchInput {
    border: 1px solid rgba(0, 0, 0, 0.295);
    border-right: none;
    height: 2rem;
    width: 100%;
    max-width: 30rem;
    border-top-left-radius: 15rem;
    border-bottom-left-radius: 15rem;
    padding-left: 1rem;
    font-size: 1rem;
    outline: none;
  }
  
  .searchIcon {
    border: 1px solid rgba(0, 0, 0, 0.295);
    color: rgba(0, 0, 0, 0.295);
    height: 2rem;
    width: 4rem;
    border-top-right-radius: 15rem;
    border-bottom-right-radius: 15rem;
  }
  
  .voiceIcon {
    font-size: 1.5rem;
    margin-left: 1rem;
  }
  
  .right {
    display: flex;
    gap: 1rem;
  }
  
  @media screen and (max-width:786px) {
    .mainDiv {
      padding: 0.5rem 0.8rem;
    }

    .left {
      gap: 0.6rem;
    }
   
    .menuIcon{
      font-size: 0.8rem;
    }

    .ytIcon{
      font-size: 1rem;
    }

    .logo {
      font-size: 1rem;
      gap: 0.1rem;
    }

    .searchInput {
      height: 1.2rem;
      max-width: 10rem;
      border-top-left-radius: 10rem;
      border-bottom-left-radius: 10rem;
      padding-left: 0.5rem;
      font-size: 0.7rem;
    }

    .searchIcon {
      height: 1.2rem;
      width: 2rem;
      border-top-right-radius: 10rem;
      border-bottom-right-radius: 10rem;
      font-size: 0.7rem;
    }

    .voiceIcon {
      font-size: 1.2rem;
      margin-left: 0.5rem;
    }

    .right {
      gap: 0.6rem;
    }

    .icon{
      font-size: 1.2rem;
    }
    
  }
  @media screen and (max-width:480px) {
    .mainDiv {
      padding: 0.5rem 0.8rem;
    }

    .left {
      gap: 0.6rem;
    }
   
    .menuIcon{
      font-size: 0.7rem;
    }

    .ytIcon{
      font-size: 0.8rem;
    }

    .logo {
      font-size: 0.7rem;
      gap: 0.1rem;
    }

    .searchInput {
      height: 1rem;
      max-width: 7rem;
      border-top-left-radius: 7rem;
      border-bottom-left-radius: 7rem;
      padding-left: 0.5rem;
      font-size: 0.6rem;
    }

    .searchIcon {
      height: 1rem;
      width: 2rem;
      border-top-right-radius: 7rem;
      border-bottom-right-radius: 7rem;
      font-size: 0.7rem;
    }

    .voiceIcon {
      font-size: 1rem;
      margin-left: 0.5rem;
    }
    
    .right {
      gap: 0.5rem;
    }

    .icon{
      font-size: 1rem;
    }
  }
  