.sidebar{
    display: flex;
    flex-direction: column;
    flex: 0 0 13rem;
    gap: 2rem;
    width: 13rem;
    padding-left:1.8rem;
    padding-top: 1rem;
    position: sticky;
    top: 4rem;
    background: white;
}

.sidebar > .home,.subs,.library,.history,.yVid,.wLater,.lVid,.showMore{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.sideIcon{
    font-size: 1.5rem;
}

.sidebar > .home:hover,
.sidebar > .subs:hover,
.sidebar > .library:hover,
.sidebar > .history:hover,
.sidebar > .yVid:hover,
.sidebar > .wLater:hover,
.sidebar > .lVid:hover,
.sidebar > .showMore:hover {
  background-color: rgba(0, 0, 0, 0.062);
}

@media screen and (max-width:786px) {
    .sidebar{
        gap: 0.8rem;
        width: 8rem;
        padding-left:0.8rem;
        padding-top: 1rem;
  
    }

    .sideIcon{
        font-size: 1rem;
    }

    .sidebarNames{
        font-size: 0.8rem;
    }
    
}
@media screen and (max-width:480px) {
    .sidebar{
        gap: 0.7rem;
        width: 7rem;
        padding-left:0.7rem;
        padding-top: 0.8rem;
  
    }

    
    .sidebarNames{
        font-size: 0.7rem;
    }

    .sideIcon{
        font-size: 0.7rem;
    }
    
}